.page {
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  block-size: 100vh;
}

.rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.frame {
  position: absolute;
  width: 25px;
  height: 25px;
}

.frame_right {
  top: 10px;
  right: 10px;
  border-right: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
}

.frame_left {
  bottom: 10px;
  left: 10px;
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.circle {
  position: absolute;
  top: 18px;
  right: 19px;
  width: 9px;
  height: 9px;
  background-color: var(--text-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--text-color);
}

.header__theme-menu {
  justify-self: end;
  font-weight: 400;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 75px;
  color: var(--text-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  position: relative;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  width: 70px;
  height: 26px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--text-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.title {
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--actent-color);
}

.header__title {
  margin-top: 65px;
  margin-bottom: 55px;
  margin-left: 10px;
  margin-right: 10px;
}

.header__container_text {
  background-color: var(--text-color);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 66px;
  font-weight: 400;
  font-size: 18px;
}

.article {
  display: grid;
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.article__why {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "grig_why"
    "grid_multitasking"
    "grid_dopamine";
  margin-top: 40px;
}

.decor__text {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.article__title__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.article__title {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.grig_why {
  grid-area: grig_why;
}

.grid_multitasking {
  grid-area: grid_multitasking;
}

.grid_dopamine {
  grid-area: grid_dopamine;
}

.article__font_text {
  font-weight: 400;
  margin-top: 10px;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.article__decor_text {
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--article-text);
}

.link_decor {
  color: var(--article-text);
  text-shadow: 1px 1px 0 var(--text-color);
  text-decoration: none;
}

.link_decor:hover {
  border-block-end: 1px solid var(--article-text);
}

.link_decor:focus-visible {
  outline: 1px solid var(--article-text);
}

.article__what {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "grid_what"
    "grid_multitasking"
    "grid_food"
    "grid_gadget";
  margin-top: 50px;
}

.grid_what {
  grid-area: grid_what;
}

.grid_food {
  grid-area: grid_food;
}

.grid_gadget {
  grid-area: grid_gadget;
}

.grid_how {
  grid-area: grid_how;
}

.grid_five {
  grid-area: grid_five;
}

.grid_music {
  grid-area: grid_music;
}

.grid_walking {
  grid-area: grid_walking;
}

.grid_book {
  grid-area: grid_book;
}

.article__how {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-template-areas:
    "grid_how"
    "grid_five"
    "grid_music"
    "grid_walking"
    "grid_food"
    "grid_book";
  margin-top: 50px;
}

.article__title__text-new {
  margin-top: 9px;
  margin-bottom: 20px;
}

.article__font_text-new {
  margin-top: 20px;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.gallery_image_list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: auto;
}

.footer {
  block-size: 100vh;
  margin-top: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer_title {
  text-shadow: 2px 2px var(--actent-color);
}

.footer_frame_right {
  top: 10px;
  right: 10px;
  border-right: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
}

.footer_frame_left {
  bottom: 11px;
  left: 10px;
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@media (width >= 768px) {
  .rec {
    top: 20px;
    right: 48px;
  }

  .frame_right {
    top: 20px;
    right: 20px;
  }

  .frame_left {
    bottom: 20px;
    left: 20px;
  }

  .circle {
    top: 28px;
    right: 29px;
  }

  .header__theme-menu {
    margin-right: 20px;
    margin-top: 192px;
    color: var(--text-color);
  }

  .header__title {
    margin-top: 173px;
    margin-bottom: 162px;
    margin-left: 0;
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__container_text {
    margin-left: 384px;
    margin-right: 20px;
    margin-bottom: 183px;
  }

  .article {
    margin-left: 20px;
    margin-right: 20px;
  }

  .article__font_text {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .article__why {
    margin-top: 60px;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-areas:
      "grid_why grid_multitasking"
      ". grid_dopamine";
  }

  .grid_multitasking {
    display: grid;
    gap: 10px;
  }

  .grid_dopamine {
    display: grid;
    gap: 10px;
  }

  .article__what {
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    grid-template-areas:
      "grid_what . ."
      "grid_multitasking grid_multitasking grid_multitasking"
      "grid_food grid_food grid_food"
      "grid_gadget grid_gadget grid_gadget";
  }

  .grid_what {
    margin-bottom: 10px;
  }

  .grid_food {
    display: grid;
    gap: var(--gap_food);
  }

  .grid_gadget {
    display: grid;
    gap: 10px;
  }

  .article__how {
    margin-top: 70px;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-areas:
      "grid_how grid_five"
      ". grid_music"
      ". grid_walking"
      ". grid_food"
      ". grid_book";
  }

  .article__how .grid_food {
    gap: 0;
  }

  .article__title__text-new {
    margin-bottom: 20px;
    margin-top: 0;
  }

  .gallery {
    margin-top: 69px;
    gap: 20px;
    max-height: 823px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .gallery_image_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
    grid-column: span 1;
  }

  .tape {
    grid-row: span 2;
    grid-column: span 1;
  }

  .books {
    grid-row: span 1;
    grid-column: span 1;
  }

  .street {
    grid-column: span 2;
  }

  .footer {
    position: relative;
    margin-top: 60px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-auto-rows: 1024px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 0;
  }

  .footer_frame_right {
    top: 20px;
    right: 20px;
    border-right: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
  }

  .footer_frame_left {
    bottom: 20px;
    left: 20px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-top: 20px;
    margin-left: 16px;
    justify-self: center;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    margin-top: 290px;
    margin-bottom: 130px;
  }

  .header__container_text {
    width: 491px;
    margin-right: 20px;
    margin-left: 513px;
    margin-bottom: 135px;
    max-height: 71px;
  }

  .article__what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "grid_what . ."
      "grid_multitasking grid_food grid_gadget";
  }

  .grid_multitasking {
    max-height: 384px;
  }

  .grid_food {
    max-height: 361px;
  }

  .article__how .grid_food {
    gap: 0;
  }

  .gallery {
    margin-top: 70px;
    margin-bottom: 60px;
    max-height: 1091px;
  }
}
